# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.log

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter / IPython
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Pyright / Python language server
.pyright/

# Poetry / pyproject.toml lock files
poetry.lock
*.toml

# CSV / Parquet outputs (you probably don't want to commit large datasets)
*.csv
*.parquet
output.*

# Docker
*.env
*.dockerignore
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db
